{% extends 'index.html' %}
{% block body %}
<a class="bi bi-person-add" href="/book/add/{{author_id}}"> Новий трек</a>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Release_date</th>
        <th>Pages</th>
        <th class="edit_col"></th>
        <th class="edit_col"></th>
    </tr>
    {% for book in books %}
    <tr>
        <td><img src="/static/foto/{{ book.image }}"></td>
        <td><a href="/book/view/{{book_id}}">{{ book.title }}</a></td>
        <td>{{ book.release_date }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.description }}</td>
        <td><a href="/book/edit/{{ book.id }}" class="bi bi-pencil"></a></td>
        <td><a href="/book/delete/{{ book.id }}" class="bi bi-trash"
                onclick="return confirm('Delete book {{ book.title }}')"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}